.splash {
  padding: 85px 0 55px;
  background: url(../../images/home/cdljn-img_home.png) 50% 50% no-repeat;
  background-size: cover;
  background-color: #008DD9;

  max-height: 310px;

  .splash-container {

    text-align: center;

    h1 {
      font-family: 'proxima_nova_bold';
      width: auto;
      display: inline-block;
      margin: 0 auto;
      margin-bottom: 37px;
    }


  }
}

@media only screen and (min-width: 980px) {

  .splash {
    padding: 91px 0;
    max-height: 300px;

    .splash-container {


    }

  }
}