.recently-post-container {

  padding: 52px 0 66px;
  background-color: #EDF1F7;

  text-align: center;

  h3.title {
    margin: 0 auto;
    margin-bottom: 24px;
  }

  .post-slim-box {
    margin-bottom: 10px;
  }

}