// Define color variables for the App
$body-color: #FFF;
$nav-menu: #464D54;
$paragraph: $nav-menu;

// Top header
$login-color: #fff;
$top-header: #004B73;
$title: $top-header;
$sub-title: $title;

// Inputs
$ph-color: #767676;