.icon-location {
  background:       url(~resources/assets/images/home/icon-location-pin.png) center no-repeat;
  background-image: url(~resources/assets/images/home/icon-location-pin.svg);
  width: 24px; height: 24px;
}

.icon-facebook {
  background:       url(../images/home/cdljn-icon_facebook.png) center no-repeat;
  background-image: url(../images/home/cdljn-icon_facebook.svg);
  width: 29px; height: 29px;
}

.icon-twitter {
  background:       url(~resources/assets/images/home/cdljn-icon_twitter.png) center no-repeat;
  background-image: url(~resources/assets/images/home/cdljn-icon_twitter.svg);
  width: 36px; height: 29px;
}